<h3><%= @recipe[0]["name"] %></h3>


<h4>Ingredients</h4>

<ol>
  <% @ingredients.each do |ingredient| %>
    <li><%= ingredient["name"] %></li>
  <% end %>
</ol>

<h4>Description:</h4>
<%= @recipe[0]["description"] %>

<h4>Instructions:</h4>

<%= @recipe[0]["instructions"] %>
